@import "../env/colors/primary.css";
@import "../env/colors/neutral.css";
@import "../env/colors/secondary.css";
@import "../env/colors/grayscale-palette.css";

.btn-primary {
    background: var(--color-primary) !important;
    border: var(--color-primary) !important;
    color: white;
}

.btn-primary-outlined {
    background-color: transparent !important;
    border: 1px solid var(--color-primary) !important;
    color: var(--color-primary)
}

.btn-black-20 {
    background-color: var(--color-black-20) !important;
    border: 1px solid var(--color-black-20) !important;
    color: var(--color-black)
}

.btn-black-20-outlined {
    background-color: transparent !important;
    border: 1px solid var(--color-black-20) !important;
    color: var(--color-black)
}

.btn-black-20-outlined:hover {
    color: var(--color-black) !important;
}

.btn-error-outlined {
    background-color: transparent !important;
    border: 1px solid var(--color-error) !important;
    color: var(--color-error);
}

.btn-error-outlined:hover {
    color: var(--color-error) !important;
}

.btn-primary-outlined:hover {
    color: var(--color-primary) !important;
}

.btn-non-background {
    background-color: transparent !important;
    border: none !important;
    color: var(--color-black);
}

.btn-belge {
    background-color: var(--color-belge) !important;
    border: none !important;
    color: var(--color-black)
}

.btn-belge:hover {
    background-color: var(--color-belge) !important;
    border: none !important;
    color: var(--color-black) !important;
}

.btn-non-background:hover {
    background-color: transparent !important;
    color: var(--color-black) !important;
}
