@import "./assets/css/modules/primevue.css";
@import "./assets/css/modules/primeflex.css";
@import "./assets/css/modules/primeicons.css";

@import "./assets/css/backgrounds/background.css";

@import "./assets/css/buttons/main.css";

@import "./assets/css/hovers/hovers.css";

@import "./assets/css/colors/colors.css";

/*@import url("./assets/css/fonts/rf-dewi-expanded/rf-dewi-extended.css");*/
@import url("./assets/css/fonts/rf-dewi-expanded-light/style.css");

* {
    box-sizing: border-box;
    font-family: "RF Dewi", sans-serif;
    margin: 0;
    padding: 0;
}

.p-tabmenu .p-tabmenu-nav {
    background: transparent !important;
}

.p-tabmenu .p-tabmenu-nav .p-tabmenuitem .p-menuitem-link {
    background: transparent !important;
}

.p-tabmenu .p-tabmenu-nav .p-tabmenuitem.p-highlight .p-menuitem-link {
    color: var(--color-black-80)
}

.p-tabmenu .p-tabmenu-nav .p-tabmenuitem.p-highlight .p-menuitem-link {
    border-color: var(--color-black-80)
}

.center-text-screen {
    height: calc(100vh - 200px);
}

.p-button:focus, .p-button:hover, .p-inputtext:focus,
.p-inputtext:hover, .p-focus, .p-focus:hover, .p-dropdown:hover,
.p-checkbox-box, .p-checkbox-box:focus, .p-checkbox-box:hover {
    box-shadow: none !important;
    border-color: var(--color-primary) !important;
}

.p-checkbox .p-checkbox-box.p-highlight, .p-checkbox .p-checkbox-box.p-highlight:hover {
    background: var(--color-primary) !important;
}
