@import "./assets/css/modules/primevue.css";
@import "./assets/css/modules/primeflex.css";
@import "./assets/css/modules/primeicons.css";

@import "./assets/css/buttons/main.css";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


