@import "./assets/css/modules/primevue.css";

@import "./assets/css/modules/primeflex.css";

@import "./assets/css/modules/primeicons.css";

@import "./assets/css/backgrounds/background.css";

@import "./assets/css/buttons/main.css";

@import "./assets/css/hovers/hovers.css";

@import "./assets/css/colors/colors.css";

/*@import url("./assets/css/fonts/rf-dewi-expanded/rf-dewi-extended.css");*/
@import url("./assets/css/fonts/rf-dewi-expanded-light/style.css");

* {
    box-sizing: border-box;
    font-family: "RF Dewi", sans-serif;
    margin: 0;
    padding: 0;
}

.p-tabmenu .p-tabmenu-nav {
    background: transparent !important;
}

.p-tabmenu .p-tabmenu-nav .p-tabmenuitem .p-menuitem-link {
    background: transparent !important;
}

.p-tabmenu .p-tabmenu-nav .p-tabmenuitem.p-highlight .p-menuitem-link {
    color: var(--color-black-80)
}

.p-tabmenu .p-tabmenu-nav .p-tabmenuitem.p-highlight .p-menuitem-link {
    border-color: var(--color-black-80)
}

.center-text-screen {
    height: calc(100vh - 200px);
}

.p-button:focus, .p-button:hover, .p-inputtext:focus,
.p-inputtext:hover, .p-focus, .p-focus:hover, .p-dropdown:hover,
.p-checkbox-box, .p-checkbox-box:focus, .p-checkbox-box:hover {
    box-shadow: none !important;
    border-color: var(--color-primary) !important;
}

.p-checkbox .p-checkbox-box.p-highlight, .p-checkbox .p-checkbox-box.p-highlight:hover {
    background: var(--color-primary) !important;
}

.p-dropdown-panel {
    margin-top: 5px !important;
    border-radius: 8px;
}

.p-dropdown-panel .p-dropdown-items-wrapper > ul {
    padding: 0;
}

.p-dropdown-panel .p-dropdown-items-wrapper > ul > li {
    padding: 10px 8px !important;
}

.p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight {
    background: var(--color-grey) !important;
}

.p-datatable .p-datatable-thead > tr > th {
    background: white !important;
}

.p-column-header-content {
    display: flex !important;
    align-items: center !important;
    text-align: center !important;
    justify-content: center !important;
}

.p-datatable-table tbody tr td {
    text-align: center !important;
}

/* Input */

/*input[type="text"] {*/
/*    box-sizing: border-box;*/
/*    width: 100%;*/
/*    height: calc(3em + 2px);*/
/*    margin: 0 0 1em;*/
/*    padding: 6px;*/
/*    border: 1px solid #bababa;*/
/*    border-radius: 3px;*/
/*    background: #fff;*/
/*    font-size: 16px;*/
/*    resize: none;*/
/*    outline: none;*/
/*}*/
/*input[type="text"]:focus {*/
/*    border-color: #00bafa;*/
/*}*/
/*input[type="text"]:focus + label[placeholder]:before {*/
/*    color: #0091da;*/
/*}*/
/*input[type="text"]:focus + label[placeholder]:before,*/
/*input[type="text"]:valid + label[placeholder]:before {*/
/*    transition-duration: .2s;*/
/*    transform: translate(0, -1.6em) scale(0.9, 0.9);*/
/*    font-weight: bold;*/
/*}*/
/*input[type="text"]:valid {*/
/*    border-color: green;*/
/*}*/
/*input[type="text"]:valid + label[placeholder]:before {*/
/*    color: green;*/
/*}*/
/*input[type="text"]:invalid + label[placeholder][alt]:before {*/
/*    content: attr(alt);*/
/*}*/
/*input[type="text"] + label[placeholder] {*/
/*    display: block;*/
/*    pointer-events: none;*/
/*    line-height: 1.25em;*/
/*    margin-top: calc(-3em - 2px);*/
/*    margin-bottom: calc((3em - 1em) + 2px);*/
/*}*/
/*input[type="text"] + label[placeholder]:before {*/
/*    content: attr(placeholder);*/
/*    display: inline-block;*/
/*    margin: 0 calc(0.5em + 2px);*/
/*    padding: 0 2px;*/
/*    color: #7d7d7d;*/
/*    white-space: nowrap;*/
/*    transition: 0.3s ease-in-out;*/
/*    background-image: linear-gradient(to bottom, #ffffff, #ffffff);*/
/*    background-size: 100% 5px;*/
/*    background-repeat: no-repeat;*/
/*    background-position: center;*/
/*}*/